@-webkit-keyframes wave-animation-s {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}
@-moz-keyframes wave-animation-s {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}
@-o-keyframes wave-animation-s {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}
@keyframes wave-animation-s {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}
#movingCar{

  background: url(../images/bg_slider_bottom.png) repeat-x 0 0;
  top: -110px;
  content: "";
  display: block;
  height: 73px;
  left: 0;
  position: relative;
  width: 1000000%;
  z-index: 6;
  -webkit-animation: wave-animation-s 180s infinite linear;
  /* Safari 4+ */
  -moz-animation: wave-animation-s 180s infinite linear;
  /* Fx 5+ */
  -o-animation: wave-animation-s 180s infinite linear;
  /* Opera 12+ */
  animation: wave-animation-s 180s infinite linear;
  /* IE 10+ */
}

  /* ANIMACION DE LAS IMAGENES */

@-webkit-keyframes image-animation-s {
  0% {
    background-size: cover;
  }
  100% {
    background-size: scale(1.5);
  }
}
@-moz-keyframes image-animation-s {
    0% {
    background-size: cover;
  }
  100% {
    background-size: 150%;
  }
}
@-o-keyframes image-animation-s {
   0% {
    background-size: cover;
  }
  100% {
    background-size: 150%;
  }
}
@keyframes image-animation-s {
    0% {
    background-size: cover;
  }
  100% {
    background-size: 150%;
  }
}

/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Munter - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */
 
.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}



.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

.justify-text {
	text-align: justify;
}

.navbar {
	background-image: url("../images/barrasAtencion.jpg");
	background-size: contain;
	background-color: #e4e6e5;
	background-color: rgba( 228, 230, 229, .85 );
	border-bottom: 0 none;
	font-size: 16px;
	transition: .25s all linear;
	min-height: 55px;

}
.navbar .container{padding-left: 50px;}
.logo {
	position: absolute;
	overflow: visible;
	float: left;
	left: 5px;
	top: 7px;
}
.navbar.inv {
	background-image: none;
	background-color: rgba( 0, 0, 0, .5 );
	border-bottom: 1px solid #bfbfbf;
}

.navbar .nav li:hover a{color: #F00}

.navbar .nav a {
	color: #000;
	font-family: "Titillium Web", sans-serif;
	font-weight: 800;
	transition: all .5 linear;
	cursor: pointer;
	padding-bottom: 0;
	padding-top: 15px;


}

.navbar.inv a {
	color: #FFF;
}


.navbar-responsive-collapse {
	margin: 0 auto;
}

.nav li {
	text-align: center;
	white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 8px;
}

.nav-parent * {position: relative;}

.active-menu {
	background-color: #38322b;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}


.inv .active-menu {
	background-color: #FFF;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-1,
#special-active-menu-2,
#special-active-menu-3,
#special-active-menu-4,
#special-active-menu-5,
#special-active-menu-6{
	background-color: #F00 !important;
}


@media (max-width: 767px) {
	
	.nav li {
		text-align: left;
		white-space: nowrap;
	}
	
	.navbar-responsive-collapse  {
		width: 100%;
	}
	
	.active-menu {
		display: none !important;
	}
	
	.navbar-toggle {
		margin-right: 10px;
	}
	
	.navbar {
		background-color: #e4e6e5 !important;
		padding: 0;
	}
	
	.navbar .nav a {
		color: #e4e6e5;
		font-size: 16px;
		padding-left: 0;
	}
	
	.icon {
		margin-right: 12px;
	}
			
	.nav li[data-slide="1"],
	.nav li[data-slide="6"] {
		background-color: #2f2f2f;
	}
	
	.nav li[data-slide="2"] {
		background-color: #1abc9c;
	}
	
	.nav li[data-slide="3"] {
		background-color: #e74c3c;
	}
	
	.nav li[data-slide="4"] {
		background-color: #34495e;
	}
	
	.nav li[data-slide="5"] {
		background-color: #e67e22;
	}
	
	.navbar-brand {
		margin: 0;
		text-align: left;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

#slide-1,#slide-2,#slide-3,#slide-4,#slide-5,#slide-6 {
	background-position: center center;
	background-repeat: no-repeat;

	text-align: center;
}

#slide-1 {
	color: #ffffff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-1 h1 {
	padding-top: 130px;
}

@media (max-width: 991px) {
	#slide-1 {
		background-position: -70% 0, 170% 0;
	}
}

@media (max-width: 767px) {
	#slide-1 {
		background-image: none;
	}
}

	#home-row-1,
	#home-row-2 {
		padding-top: 25px;
	}
	
	#home-row-1 h1 {
		font-size: 54px;
	}
	
	#home-row-1 h4 {
		font-size: 32px;
	}
	
	#home-row-2 {
		font-size: 25px;
	}
	
	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}
	
	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}
	
	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}

@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}
	
	#home-row-1 h1 {
		font-size: 35px;
	}
	
	#home-row-1 h4 {
		font-size: 21px;
	}
	
	#home-row-2 {
		font-size: 16px;
	}
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Reset position for myCarousel */

/* Carousel base class */
.carousel {
  height: 700px;
}
#myCarousel .main-text{
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 100;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.carousel-caption p{
	font-size: 40px;
	font-weight: 900;
	color:#EEE;
;
}
.carousel-caption .btn{
	font-size: 20px;
	background-color: #ebce45;
	color: #39332d;
}
#myCarousel .item{
	background-size: cover;
	background-position: center center;
	height: 700px;
}   	

#myCarousel .item.uno {background-image: url("../images/carousel1.jpg")}
#myCarousel .item.dos {background-image: url("../images/carousel2.jpg")}
#myCarousel .item.tres {background-image: url("../images/carousel3.jpg")}
#myCarousel .item.cuatro{background-image: url("../images/carousel4.jpg")}
#myCarousel .item.cinco{background-image: url("../images/carousel5.jpg")}
.carousel-control i{
	font-size: 50px;
	top: 50%;
	padding: 10px;
	position: relative;
	z-index: 120;}
/* Declare heights because of positioning of img element */


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 51px;
    line-height: 1.4;
  }
  .carousel-caption .btn{
	font-size: 30px;
}
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



#slide-2 {
	background-color: #e01c16;
	color: #e4e6e5;
	padding-top: 90px;
}

	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
	}
	
	.line-row .hr {
		background-color: #e4e6e5;
		height: 5px;
		margin: 0 auto;
		width: 33%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	.content-row {
		padding-top: 45px;
	}
	
	.content-row i,
	#about-row-5 i {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	.content-row h2 {
		font-size: 28px;
		padding-bottom: 40px;
	}
	
	.content-row h4 {
		font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 20px;
		font-weight: 300;
	}
	
	i {
		font-size: 80px;
		color: white;
	}
	
	.videos {
		margin: 0px 30px 0px 30px;
		padding: 0 0 70px 0;

	}
	.videos div iframe{
	  background:orange;
	  width:30vw;
	  height: 16.86vw;
	}
@media (max-width: 767px) {
	.title-row {
		font-size: 34px;
		padding-bottom: 33px;
	}
	
	.subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}
	
	.content-row {
		padding-top: 29px;
	}
	
	.content-row h2 {
		font-size: 24px;
		padding-bottom: 26px;
	}
	
	.content-row h4 {
		font-size: 20px;
	}
	.videos {
		margin: 0px 10px 0px 10px;
		padding: 0 0 70px 0;
	}
	.videos div iframe{
	  background:orange;
	  width:90vw;
	  height: 50.62vw;
	}
}

#slide-3 {
	background-color: #2f2f2f;
	color: #e4e6e5;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
	margin-top: 30px;
}
#slide-3 .curso1 .jumbotron.clase{background-color: #F00}
#slide-3 .curso2 .jumbotron.clase{background-color: #d4c717}
#slide-3 .curso3 .jumbotron.clase{background-color: #4caf50}

#slide-3 .jumbotron.clase{
	border-radius: 15% 15% 2% 2%;
	padding: 0;
	overflow: hidden;
}
#slide-3 .jumbotron.title{
	background-color: transparent;
	margin: 0;
	padding: 15px;
}
#slide-3 .jumbotron.title h2{
	padding: 0;
	margin: 0;
}
#slide-3 .jumbotron.content{
	background-color: #e4e6e5;
	color: #2f2f2f;
	margin: 0;
	padding: 20px;
	border-radius: 0 0 5px 5px;
}
#slide-3 .jumbotron.content h2, 
#slide-3 .jumbotron.content h4,
#slide-3 .jumbotron.content p{
	margin: 0;
	padding:3px;
}
#slide-3 .jumbotron.content p{
	font-size: 15px;
}
#slide-3 .jumbotron.content .hr{
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #2f2f2f;
}
#slide-3 .jumbotron.content ul {
	list-style: none;
	padding: 0;
}
#slide-3 .jumbotron.content a{
	width: 100%;
}

.curso1:hover{
    -webkit-animation: pulse 1s forwards;
    animation: pulse 1s forwards;
}
.curso2:hover{
    -webkit-animation: pulse 1s forwards;
    animation: pulse 1s forwards;
}
.curso3:hover{
    -webkit-animation: pulse 1s forwards;
    animation: pulse 1s forwards;
}

#slide-4 {
	background-color: #bb5807;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 100%;
}

#slide-5 {
	background-color: #e0af24;
	color: #e4e6e5;
	padding-top: 90px;
}

#slide-6 {
	background-color: #2f2f2f;
	color: #e4e6e5;
	padding-bottom: 350px;
	padding-top: 90px;
}

@media (max-width: 767px) {
	#slide-6 {
		background-image: none;
	}
}
	
	#slide-6 .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}

	#slide-6 a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
}
	
	#contact-row-4 {
		padding-top: 125px;
	}
	
	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}
	
	#contact-row-4 img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}
	
	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}


#lightbox-out {
	background-color: rgba( 0, 0, 0, 0.7 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.with-hover-text span {
	display: none;
}

.no-padding {padding: 0 !important;}
.zoom {
	background-image: url('../images/zoom.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

#arrows {
	bottom: 10%;
	height: 80px;
	position: fixed;
	right: 10%;
	width: 80px;
	z-index: 1000;
}

#arrows div {
	background-image: url('../images/website-arrows.png');
	cursor: pointer;
	height: 30px;
	position: absolute;
	width: 30px;
}

#arrows div.disabled {
	cursor: default;
}

#arrow-up {
	background-position: 30px 0;
	left: 25px;
	top: 0;
}

#arrow-up.disabled {
	background-position: 0 0;
}

#arrow-down {
	background-position: 30px -30px;
	left: 25px;
	bottom: 0;
}

#arrow-down.disabled {
	background-position: 0 -30px;
}

#arrow-left {
	background-position: 30px -60px;
	left: 0;
	top: 25px;
}

#arrow-left.disabled {
	background-position: 0 -60px;
}

#arrow-right {
	background-position: 30px -90px;
	right: 0;
	top: 25px;
}

#arrow-right.disabled {
	background-position: 0 -90px;
}

.navigation-slide {
	cursor: pointer;
}

.mapa iframe{
	width: 40vw;
	height: 30vw;
}
@media (max-width: 767px) {

.mapa iframe{
	width: 90vw;
	height: 60vw;
}
}

.contactForm *{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	text-align: center;
}
.contactForm input,
.contactForm textarea
{
	width: 80% !important;
	list-style: none !important;
	margin: 5px 10% 5px 10% !important;
}


